{% extends "base.html.twig" %}

{%  block body %}
    <h1>Bibliothèque</h1>
    <p>Ci-dessous, la liste de tous les jeux</p>
    {% for game in games %}
        <h3>{{ game.name }}</h3>
        <a href="{{ path("OneGame", {id:game.id}) }}">Voir plus.</a>
    {% endfor %}
{% endblock %}